.banner-lt {
    padding: 40px 0;
    &_text {
        div {
            padding-left: 80px;

            h2 {
                font-size: 49px;
                font-weight: 600;
                padding-bottom: 10px;
            }

            p {
                font-size: 25px;
            }
        }
    }

    &_image {
        height: 390px;
        display: flex;
        justify-content: center;
        position: relative;

        img {
            height: 100%;
            z-index: 20;
        }

        video {
            height: 237px;
            position: absolute;
            transform: translate(-2px, 43px);
        }
    }
}

.banner-lt.devices {
    height: 480px;
}