.banner-rt {
    height: 450px;

    &_text {
        div {
            padding-right: 80px;

            h2 {
                font-size: 49px;
                font-weight: 600;
                padding-bottom: 10px;
            }

            p {
                font-size: 25px;
            }
        }
    }

    &_image {
        height: 390px;
        display: flex;
        justify-content: center;
        position: relative;

        img {
            height: 100%;
            z-index: 20;
        }

        video {
            height: 237px;
            position: absolute;
            transform: translate(-2px, 43px);
        }

        .download-card {
            height: 105px;
            border: 2px solid #ffffff40;
            background-color: #000;
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            border-radius: 12px;
            padding: 10px;
            bottom: 6%;
            .gif-download {
                height: 65%;
            }
        }
    }
}

.banner-rt.kids {
    height: 490px;

    .banner-rt_image {
        height: 420px;
    }
}