.contenitoreGrande {
    margin-top: 294px;
}
.profili{
    display: inline;
}
.profileList{
        justify-content: center;
        display: flex;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 15px;
            img{
                border-radius: 8px;
            }
        }
   
}