@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Radio Canada', sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.4;
  overflow: hidden;
}

.separator {
  background-color: #146941c2;
  height: 8px;
}

.pointer {
  cursor: pointer;
}
